<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <script type="text/javascript" src="/javascripts/jquery-2.1.4.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
  <div class="index_wrapper">
    <div class="top">
      <div class="login_content">
        <div class="logo"></div>
        <div class="login_form">
          <form class="form-horizontal">
            <div class="form-group">
              <div class="col-sm-5">
                <input type="text" class="form-control change-input-form-color" placeholder="姓名">  
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-5">
                <input type="text" class="form-control change-input-form-color" placeholder="手机号或邮箱">  
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-5">
                <input type="text" class="form-control change-input-form-color" placeholder="密码（不少于6位）">  
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-5">
                <input type="submit" class="form-control change-register-form-color" value="注册知乎">
              </div>
            </div>
            <label style="color:white;">社交账号登录···之后再做</label>
          </form>
        </div>
      </div>
    </div>
    <div class="bottom">这是bottom</div>
    <div class="footer">这是footer</div>
  </div>
</body>
</html>