<!DOCTYPE html>
<html>
  <head>
    <title>知乎·首页</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <script type="text/javascript" src="/javascripts/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
    <script type="text/javascript" src="/javascripts/common.js"></script>
    <link rel="stylesheet" href="/stylesheets/common.css">
  </head>
  <body>
    <%- include ../common/topNav %>
    <div class="index-zhihu">
      <div class="left-content"></div>
      <div class="right-others"></div>
    </div>
  </body>
</html>
