<div class="focus-on-question">
  <button class="btn btn-info">关注</button><br/>
  <div class="focus-on-question-number"><span>x</span>人关注该问题</div>
</div>
<div class="linked-website">
  <img src="/images/static/cnode_logo.png" alt="">
</div>
<div class="related-question">
  <h5>相关问题</h5>
  <ul>
    <li><a href="">魔兽争霸3之后魔兽世wsaswww的？</a><span class="answer-number">n个回答</span></li>
    <li><a href="">魔兽争霸3之后魔兽世wsaswww的？ </a><span class="answer-number">n个回答</span></li>
    <li><a href="">魔兽世界玩家如何评价FF14? </a><span class="answer-number">n个回答</span></li>
    <li><a href="">魔兽世界>会如何谢幕？</a><span class="answer-number">n个回答</span></li>
    <li><a href="">魔兽专区的X档案揭露了很多魔兽世界的不为人知的恐怖秘密，其中自然也包括了我昨天讨论过的暗月马戏团。</a><span class="answer-number">n个回答</span></li>
  </ul>
</div>
<div class="question-status">
  <h5>问题状态</h5>
  <span class="annotation-color">最近活动于<%= question.update_at_isToday() %></span><br/>
  <span class="annotation-color">被浏览<%= question.pv %>次</span>
</div>
<div class="linked-website">
  <img src="/images/static/zhihu_logo.jpg" alt="">
</div>