/*2048.css*/


header{
  display: block;
  margin: 5% 10%;
  width: 300px;
  text-align: center;
  float: left;
}
header h1{
  font-family: Arial;
  font-size: 60px;
  font-weight: bold;
  text-shadow:1px 1px 10px grey;
  margin-top: 50px;
  margin-bottom: 50px;
}
header #newgamebutton{
  display: block;
  margin: 0 auto;
  width: 100px;
  padding: 10px 10px;
  background: rgba(76, 67, 152, 0.55);
  color: white;
  border-radius: 10px;
  text-decoration: none;
}
header .button{
  display: block;
  margin: 0 auto;
  width: 100px;
  padding: 10px 10px;
  background: rgba(76, 67, 152, 0.55);
  color: white;
  border-radius: 10px;
  text-decoration: none;
}
header #newgamebutton:hover{
  background-color: rgba(76, 67, 152, 1);
  text-shadow:1px 1px 5px rgba(83, 228, 234, 1);
}
header p{
  font-family: Arial;
  font-size: 25px;
  text-shadow:1px 2px 1px grey;
}

#grid-container{
  float: left;
  width:460px;
  height:460px;
  padding: 20px;
  margin: 50px auto;
  background-color: #bbada0;
  border-radius: 10px;
  position: relative;
  box-shadow: 5px 5px 10px grey;
}
.grid-cell{
  width: 100px;
  height: 100px;
  border-radius: 6px;
  background-color: #ccc0b3;
  position: absolute;
}

.number-cell{
  border-radius: 6px;
  font-family: Arial;
  font-weight: bold;
  font-size: 45px;
  line-height: 100px;
  text-align: center;
  position: absolute;
}


