
.top-navbar {
  width: 100%;
  height:50px;
  .navbar-zhihu {
    .navbar-form {
      .zhihu-search {
        position: relative;
        button {
          position: absolute;
          right: 0;
          margin-right: 5px;
          top: 9px;
          text-align: center;
          background-color: transparent;
          border: none;
        }
      }
    }
    background-color: #0661bd;
    padding-left: 16%;
    /*padding-right: 16%;*/
    .brand-zhihu {
      color: white;
      font-size: 2em;
    }
    .top-navbar-ask {
      background-color: #0e79e9;
      color: white;
      border: none;
    }
    .navbar-user {
      margin-left: 18%;
      min-width: 150px;
      img {
        height: 20px;
        width: 20px;
        margin-right: 5px;
      }
      .navbar-user-tab {
        position: absolute;
        width: 150px;
        display: none;
        top: 50px;
        padding-left: 30px;
      }
      &:hover {
        background-color: #055aaf;
        .navbar-user-tab {
          position: absolute;
          display: block;
          top: 50px; 
          background-color: #055aaf;
          li {
            padding: 10px 0;
            list-style: none;
            color: white;
            span {
              margin-right: 10px;
            }
            a {
              text-decoration: none;
              color: white;
            }
          }
        }        
      } 
    }
  }
  .navbar-default .navbar-nav > li > a,
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    text-shadow: 0 1px 1px rgba(0,0,0,.12);
    color: white;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #055aaf;
  }
  .dropdown a {
  }
  .dropdown-menu {
    background-color: #095fb3;
    border: none;
  }
}




.modal {
  .form-control {
    width: 80%;
    margin: 0 auto;
  }
  .question_tag {
    width: 20%;
    display: inline-block;
    margin: 0 2px;
  }
  #post_error {
    padding: 5px 10px;
    color: red;
    background-color: transparent;
    font-size: 20px;
  } 
}

.zhihu-footer {
  border-top: 1px solid #eee;
  margin-top: 20px; 
  padding: 20px 10px;
  color: #999;
  text-align: right;
  ul {
    text-decoration: none;
    list-style: none;
    li {
      margin: 3px 5px;
      display: inline;
      a {
        color: #999;
      }
    }
  }
}