body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 1.7;
  font-family: 'Helvetica Neue', Helvetica,Arial, sans-serif;
  background-color: #f1f5f8;
}

.index_wrapper .top {
  background-color: #0078d8;
  padding: 50px;
}
.index_wrapper .top .login_content .login_form {
  margin-left: 60%;
}

.change-color {
  background-color: #e7f1f8;
}

.change-register-color {
  background-color: #74b1f7;
  color: white;
  border: none;
}
