body {
  margin: 0;
  padding: 0;
}

.index-zhihu .top-navbar .navbar-zhihu {
  background-color: #0661bd;
}
.index-zhihu .top-navbar .navbar-zhihu .brand-zhihu {
  color: white;
  font-size: 2em;
}
.index-zhihu .top-navbar .navbar-zhihu .top-navbar-ask {
  background-color: #0e79e9;
  color: white;
  border: none;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #055aaf;
}

.dropdown-menu {
  background-color: #095fb3;
  border: none;
}

.form-control {
  width: 80%;
  margin: 0 auto;
}

.question_tag {
  width: 20%;
  display: inline-block;
  margin: 0 2px;
}

#post_error {
  padding: 5px 10px;
  color: red;
  background-color: transparent;
  font-size: 20px;
}
