.home-user  {
  margin-top: 30px;
  padding-bottom: 30px;
  border: 1px solid #eee;
  .user-infomation {
    .frame {
      margin: 50px 20px;
      border: 1px solid #eee;
      padding: 0 10px;
      .frame-title {
        margin: 10px 5px;
        padding: 5px 0px;
        font-size: 17px;
        font-weight: bold;
        border-bottom: 1px solid #eee;
      }
      .frame-body {
        min-width: 500px;
        .frame-answers {
          border-bottom: 1px solid #eee;
          padding: 10px 0;
          margin-top: 10px;
          .answer-ups {
            float: left;
            div {
              color: #259;
              height: 45px;
              width: 50px;
              font-weight: bold;
              background-color: #eff6fa;
              text-align: center;
              span {
                color: #259;
                display: block;
              }
            }
          }
          .answer-question {
            margin-left: 20px;
            float: left;
            .answer {
              a   {
                font-size: 17px;
                font-weight: bold;
                color: #259;
              }
            }
            .question{
              font-size: 15px;
            }
            .question_about {
              span {
                font-size: 14px;
                color: #999;
              }
            }
          }
        }
      }
    }
  }
  .user-introduction {
    .user-name {
      margin-bottom: 30px;
    }
    .user-count {
      font-size: 17px;
    }
    max-width: 220px;
    .user-avatar {
      /*width: 140px;*/
      position: relative;
      border-radius: 5px;
      img {
        position: relative;
        height: 140px;
        width: 140px;
      }
      #span_note {
        display: block;
        color: #999;
        margin-top: 15px;
      }
      #span_update {
        display: block;
        color: #999;
        margin-top: 15px;
      }
      #update_avatar {
        display: none;
      }
      #myform {
          display: none;
      } 
      &:hover {
        opacity: 0.8;
        #update_avatar {
          position: absolute;
          display: block;
          top: 125px;
          height: 25px;
          width: 140px;
          line-height: 25px;
          font-size: 17px;
          text-align: center;
          background-color: #000;
          color: white;
        }
      }
    }
  }
}

.setting-user {
  margin-top: 50px;
  min-height: 600px;
  #data {

  }
  #account {

  }
  .tab-content {
    margin-bottom: 300px;
    .update {
      margin-top: 30px;
      .updateErr {
        margin-left: 100px;
        padding: 10px;
        margin-bottom: 30px;
        border: none;
        font-size: 15px;
      }
      .info-tab {
        border-bottom: 1px solid #eee;
        margin: 30px 0;
        .user-info {
          margin-left: 50px;
          font-size: 17px;
          .edit-name {
            margin-left: 30px;
            font-size: 15px;
          }
        }
        .edited {
          display: none;
        }
        .info {
          width: 220px;
        }
        .submit {
          width: 60px;
          background-color: #046BD2;
          color: white;
        }
      }
    }
    a {
      padding: 5px;
      text-decoration: none;
      &:hover {
        background-color: #eff6fa;
      }
    } 
  }
}