<div class="zhihu-footer col-md-12">
  <span class="pull-left">© 2015 仿·知乎</span>
  <ul>
    <li><a href="">刘看山</a></li>
    <li><a href="">知乎指南</a></li>
    <li><a href="">建议反馈</a></li>
    <li><a href="">知乎协议</a></li>
  </ul>
</div>