<div class="zhihu-footer col-md-12">
  <span class="pull-left">© 2015 仿·知乎</span>
  <ul>
    <li><a href="http://www.zhihu.com/">正版知乎</a></li>
    <li><a href="https://liukanshan.zhihu.com/">刘看山</a></li>
    <li><a href="https://github.com/yxfanxiao/zhihu">star一下，给我鼓励！</a></li>
  </ul>
</div>