
<div class="top-navbar">
  <div class="navbar navbar-default navbar-fixed-top  navbar-zhihu">
    <div class="navbar-header"><a href="/" class="navbar-brand brand-zhihu">知乎</a></div>
    <div class="navbar-form navbar-left">
      <form action="/search" method="get">
        <div class="form-group zhihu-search">
          <input type="text" class="form-control" name="search" id="zhihu-search-content" placeholder="搜索话题、问题或人…">
          <button class="glyphicon glyphicon-search zhihu-search-button"></button>
        </div>
      </form>
    </div>
    <div class="navbar-form navbar-left">
      <div class="form-group">
        <button class="form-control top-navbar-ask" data-toggle="modal"  style="float:left;" data-target="#submit_question">提问</button>
      </div>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">首页</a></li>
      <li><a href="/topic">话题</a></li>
      <li class="disabled"><a href="/explore">发现</a></li>
      <li class="disabled"><a href="/message">消息</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-user">
      <% if (user) { %>
        <li>
          <a href="">
            <img src="<%= user.avatar %>" alt="">
            <span id="user-name">
             <%= user.name.length < 6 ? user.name : user.name.substring(0,5) + '...' %>
            </span>
            <ul href="/home" class="navbar-user-tab">
              <li><a href="/home"><span class="glyphicon glyphicon-user"></span>我的主页</a></li>
              <li><a href="/setting"><span class="glyphicon glyphicon-cog"></span>设置</a></li>
              <li><a href="/logout"><span class="glyphicon glyphicon-off"></span>退出</a></li>    
            </ul>
          </a>
        </li>       
      <% } else { %>
        <li style="margin-left:30px;"><a href="/">注册 登录</a></li>
      <% } %>    
    </ul>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="submit_question" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">提问</h4>
      </div>
      <div class="modal-body">
        <form action="/question" method="post" class="form-horizontal">
          <div class="form-group">
            <input type="text" name="title" placeholder="写下你的问题" class="form-control">
          </div>
          <div class="form-group">
            <label class="col-md-offset-1">问题说明：</label>
            <textarea name="description" class="form-control" rows="5" placeholder="问题背景、条件等详细信息"></textarea>
          </div>
          <div class="form-group">
            <label class="col-md-offset-1">话题:</label>
            <input type="text" id="tag1" name="tag1" placeholder="最多3个话题" class="form-control question_tag">
            <input type="text" id="tag2" name="tag2" placeholder="" class="form-control question_tag" disabled>
            <input type="text" id="tag3" name="tag3" placeholder="" class="form-control question_tag" disabled>
          </div>
          <script>
            $("#tag1").focus(function () {
              $("#tag2").attr("disabled", false);
            });
            $("#tag2").focus(function () {
              $("#tag3").attr("disabled", false);
            });
          </script>
          <div class="modal-bottom-warning-post">
            <div class="col-md-8 col-md-offset-1">
              <label class="label-warning" id="post_error"></label>
            </div>
            <div class="col-md-offset-9">
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
              <button type="submit" class="btn btn-primary">发布</button>
            </div>              
          </div>
        </form>
      </div>
    </div>
  </div>
</div>    
<% if (err) { %>
  <script>
    $("#submit_question").modal("show");
    $("#post_error").html("<span class='glyphicon glyphicon-exclamation-sign'></span><%= err %>");
  </script>
<% } %>
